@import "../../../variables.scss";

@import "./BountiesListFilter/index";

.bounties-list {
  display: flex;
  justify-content: center;

  &__sidebar {
    width: 300px;
    padding: 32px 12px 0 12px;
  }

  &__bounties-container {
    padding-left: 56px;
  }

  &__bounties-header {
    padding: 24px;
  }

  &__bounties-count {
    font-size: 1.125rem;
    color: $steelplant;
  }

  &__filters-container {
    padding-top: 28px;
  }

  &__filters-title {
    font-size: .875rem;
    color: $steelplant;
    padding-bottom: 16px;
  }

  &__filters {
    box-shadow: 0 1px 6px 0 rgba(4, 37, 86, 0.04), 0 1px 0 0 rgba(4, 37, 86, 0.04);
  }
}
