.bounty-details {
  display: flex;

  &__organization {
    font-size: .875rem;
    line-height: 16px;
    margin-right: 24px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__count-metric {
    height: 26px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__enrollment {
    font-size: .875rem;
    height: 26px;
    line-height: 16px;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffedf0;
    color: #d9163d;
    margin-left: 16px;
  }
}
