// Grayscale
$casper-gray: #adbcd4;
$catskill-gray: #E1E8F2;
$steelplant: #6c80a0;
$black-squeeze: #f9fbfd;

// Blue
$dodger-blue: #2b7ff5;
$bali-blue: #8194B2;
$cornflower-blue: #b2cdf6;
$royal-blue: #4084ea;

// Red
$sunset-red: #ff5443;
